[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint-django = "*"
pytest-django = "*"
mixer = "*"
pytest-cov = "*"
flake8 = "*"
werkzeug = "*"
pre-commit = "*"

[packages]
django = "==4.0.1"
graphene-django = "*"
django-filter = "*"
django-graphql-jwt = "*"
pyjwt = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
django-ratelimit = "*"
colorlog = "*"
dj-static = "*"
sentry-sdk = "*"
django-extensions = "*"
django-silk = "*"

[requires]
python_version = "3.9"
